<%- include('./partials/header.ejs') %>
<div id="itemtrade-page">
    <h2>Select your item</h2>
    <%if(items.length){%>
    <table class="profile">
      <tr>
        <th>Album</th>
        <th>Singer</th>
        <th>Status</th>
      </tr>
      <%items.forEach(item=>{%>
      <tr>
        <td>
          <a href="/trades/<%= item.id%>"> <span><%= item.name%></span> </a>
        </td>
        <td><%= item.singer%></td>
        <td><%= item.status%></td>
        <%if(item.status==="Available"){%>
        <td>
          <form action="/trades/<%= item.id%>/tradeitem" method="get">
            <button type="submit" class="trade-buttons">Trade</button>
          </form>
        </td>
        <%}%>
      </tr>
      <br />
      <%});%>
    </table>
    <br />
  
    <%}else{%>
  
    <p>Please add an item to participate in this trade.</p>
    <%};%>
  </div>




<%- include('./partials/footer.ejs') %>

